@media only screen and (max-width: 768px) {
		.topnav{
		 
		 color:#000066;
		 
	}
		.topnav div:nth-child(1){
		font-size:30px;
		text-align:justify;
		padding-top:0;
		padding-bottom: 0;
		font-family: 'MuseoModerno', cursive;
	}
	.topnav div:nth-child(2){
		font-family: 'MuseoModerno', cursive;
		text-align:center;
		padding-top:15px;
		padding-bottom: 5px;
		word-spacing:3px;
		font-size:10px;
		
	}

	.intro h3{
		color:#000066;
		font-size:30px;
		padding-left:10px;
		font-family: 'Balsamiq Sans', cursive;
		text-align:justify;
		margin-bottom:30px;
	}
	.intro p{
		width:200px;
		padding-left:10px;
		font-family: 'Balsamiq Sans', cursive;
		text-align:justify;
	}
	.intro img{
		
		height: 420px;
		width:220px;
	}
	.button3 {
	background-color: #f44336;
	 border: none;
    color: white;
	  padding: 15px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
	  width:100px;
}
.side{
	background-color:#000066;
	height:250px;
	position:relative;
	top:20px;
	text-align:justify;
	
}
.side img{
	height:180px;
	width:150px;
	margin-top:30px;
}
}